html {
    scroll-behavior: smooth
}

@font-face {
    font-family: 'Avenir';
    src: url("/fonts/Avenir-Light.ttf") format('ttf');
    font-weight: 100
}


@font-face {
    font-family: 'Avenir';
    src: url("/fonts/Avenir-Book.ttf") format('ttf');
    font-weight: 200
}

@font-face {
    font-family: 'Avenir';
    src: url("/fonts/Avenir-Roman.ttf") format('ttf');
    font-weight: 300
}

@font-face {
    font-family: 'Avenir';
    src: url("/fonts/Avenir-Medium.ttf") format('ttf');
    font-weight: 400
}

@font-face {
    font-family: 'Avenir';
    src: url("/fonts/Avenir-Heavy.ttf") format('ttf');
    font-weight: 500
}

@font-face {
    font-family: 'Avenir';
    src: url("/fonts/Avenir-Black.ttf") format('ttf');
    font-weight: 600
}


body {
    font-family: 'Avenir';
    background-color: #F9F6F2;
    margin: 0;
    padding: 0;
}


header {
    position: -webkit-sticky; /* Ensure Safari compatibility */
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #F9F6F2;
    z-index: 1000;
    -webkit-transition: top 0.3s, box-shadow 0.3s;
    transition: top 0.3s, box-shadow 0.3s;
}

header.scrolled {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

header.hidden {
    top: -100px;
}

nav {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px 0px;
}

nav .logo {
    height: 35px;
    margin-left: 20px;
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 40px;
}

nav ul li a {
    color: #353537;
    background-color: transparent;
    border-radius: 100px;
    text-decoration: none;
    padding: 4px 10px;
    font-size: 90%;
    display: block;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    font-weight: 600;
}

nav .linkedin-icon {
    height: 15px;
    margin-bottom: 100%;
    vertical-align: middle;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}


.home-page nav .home {
    color: #EB4E00
}

.home-page nav ul li .contact:hover,
.home-page nav ul li .about:hover,
.home-page nav ul li .work:hover {
    background-color: #EB4E00;
    color: #F9F6F2;
}



.work-page nav .work {
    color: #EB4E00
}

.work-page nav ul li .home:hover,
.work-page nav ul li .about:hover,
.work-page nav ul li .contact:hover {
    background-color: #EB4E00;
    color: #F9F6F2;
}


.about-page nav .about {
    color: #EB4E00
}

.about-page nav ul li .home:hover,
.about-page nav ul li .work:hover,
.about-page nav ul li .contact:hover {
    background-color: #EB4E00;
    color: #F9F6F2;
}



nav ul li a:hover .linkedin-icon path {
    fill: #EB4E00;
}





main {
    padding-top: 100px;
    padding-bottom: 150px;
}

.intro {
    margin-top: 5%;
    margin-bottom: 8%;
    text-align: center;
}

.intro h1 {
    font-size: 300%;
    color: #353537;
    font-weight: 100;
    margin-bottom: -5px;
}

.intro h2 {
    font-size: 300%;
    font-weight: 600;
    color: #EB4E00;
    margin-top: -5px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}




.recentworks {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 1.25rem;
}

.recentworks h4 {
    color: #353537;
    text-align: center;
    font-weight: 600;
    margin-bottom: 3.125rem;
}

.recentworks-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.recentworks-content a {
    width: calc(50% - 20px);
    margin-bottom: 2.5rem;
    text-decoration: none;
    color: inherit;
    display: block;
}

.recentworks-content .thumbnails {
    max-width: 480px;
    height: 337px;
    border-radius: 8px;
    overflow: hidden;
}

.recentworks-content img {
    width: 480px;
    height: 337px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
    transition: all 0.2s;
}

.recentworks-content a:hover img {
    transform: scale(1.05);
}


.recentworks-content p {
    font-weight: 300;
    font-size: 110%;
}









.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
    margin-top: 4%;
}


.container div {
    width: calc(47% - 40px);
    margin-bottom: 40px;
}

.container article {
    width: 100%;
    max-width: 480px;
    height: auto;
    color: #353537;
    margin: 0;
}

.container h1 {
    font-weight: 900;
    font-size: 3.25em;
    margin: 0;
}

.container p {
    font-weight: 200;
    font-size: 110%
}

.container b {
    font-weight: 600;
    color: #EB4E00;
}


.container img {
    max-width: 80%;
    height: auto;
    padding-top: 20px
}









.intro-work {
    color: #353537;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 8%;
}


.intro-work h1 {
    font-weight: 600;
    font-size: 3.25em;
    margin-bottom: -0.5px
}

.intro-work h4 {
    font-weight: 100;
    font-size: 1.1em;
    margin-top: -0.2px;
}






.project-information {
    padding: 3% 18.3%;
    padding-bottom: 0;
}


.project-information h1 {
    color: #EB4E00;
    font-size: 3.25em;
    font-weight: 600;
    margin: 0;
    padding-bottom: 1.5%;
}


.project-information p {
    color: #353537;
    font-weight: 100;
    line-height: 1;
}



.project-pictures {
    align-items: center;
    max-width: 900px;
    margin: auto;
    margin-top: 4%;
}


.project-pictures .picture {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 1% 0
}

.project-pictures img {
    width: 100%;
    height: auto;
}


.project-pictures p {
    color: #353537;
    font-weight: 100;
    padding-top: 2%;
}





.letstalk {
    background-color: #353537;
    color: #F9F6F2;
    padding: 60px 0;
    text-align: center;
    color: #F9F6F2;
    text-decoration: none;
    margin-bottom: -30px;
}

.letstalk h2 {
    font-size: 250%;
    margin: 0;
}

.letstalk p {
    width: 270px;
    margin: 20px auto;
    font-weight: 100;
    font-size: 90%;
    margin-top: -0.3%;
}

.letstalk a {
    display: inline-block;
    background-color: #EB4E00;
    text-decoration: none;
    color: #F9F6F2;
    border: 2px solid transparent;
    padding: 6.5px 15px;
    font-size: 110%;
    font-weight: 600;
    cursor: pointer;
    border-radius: 62px;
    transition: all 0.2s;
}

.letstalk a:hover {
    color: #EB4E00;
    background-color: transparent;
    border: 2px solid #EB4E00;
}

.footer {
    background-color: #353537;
    color: #F9F6F2;
    padding: 2px 35px;
    bottom: 0;
    vertical-align: middle;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer p {
    font-size: 95%;
    font-weight: 100;
}

.footer svg {
    height: 15px;
    vertical-align: middle;
    padding: 15px 1px;
    transition: all 0.2s;
}

.footer a:hover svg path {
    fill: #EB4E00;
}
